/* .custom-carousel {
  width: 50%; 
  max-height: 100vh;
  margin: auto; 
  background-color: black;
  overflow: hidden;
} */

.custom-carousel {
  width: 60%;
  background-color: red;
  height: 82vh;
  margin: 0 auto;
}

/* .custom-carousel .carousel-item{
    height: 82vh;
    width: 100vw;
    background-color: green;
} */
